@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Kulim+Park:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,700;1,100;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  font-family: "Kulim Park", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: #3e1f47;
  background: rgb(33, 47, 69);
  background: linear-gradient(0deg, rgba(33, 47, 69, 0.924807423) 35%, rgb(62, 31, 71) 100%);
}

main {
  color: white;
}

footer {
  height: 13rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  background-color: #ceedf8;
  padding: 20px;
  color: rgb(8, 8, 8);
  position: relative;
  z-index: 10;
}

.logo-footer {
  /* Estilos para la sección del logo */
  font-family: "Overpass";
  font-weight: bold;
  width: 7%;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin-left: 80px;
  text-shadow: -3px 3px 0px rgba(118, 118, 118, 0.61);
}

.sobre-nosotros {
  /* Estilos para la sección "Sobre nosotros" */
  height: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

li {
  /* Estilos para la sección "Sobre nosotros" */
  list-style-type: none;
}

.redes {
  /* Estilos para la sección de redes sociales */
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.icon-footer {
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem;
}

.a {
  color: rgb(12, 12, 12);
  text-decoration: none;
}

article a:hover {
  color: rgb(49, 15, 201);
  font-size: 20px;
}

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  display: flex;
  backdrop-filter: blur(20px);
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 10px 50px;
  border-radius: 0 0 20px 20px;
}

img.logo {
  height: 60px;
  width: 60px;
  transition: all 1s ease-in-out;
}

.contenedor-li.page {
  border-bottom: 1px solid rgb(255, 55, 0);
}

.nav_list {
  display: flex;
  list-style-type: none;
  gap: 2rem;
}

.nav_list li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #ecfdfe;
  font-size: 0.8rem;
}

.abrir_menu,
.cerrar_menu {
  display: none;
}

.contenedor-li {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  text-align: center;
  padding: 1rem 3rem;
  width: 100px;
  height: 25px;
}

.contenedor-li:hover {
  transition: all 0.3s ease-in-out;
  border-bottom: 1.5px solid rgb(255, 55, 0);
  font-size: 12px;
}

img.logo:hover {
  animation: rotate 3s infinite ease;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.back-logo {
  background-color: rgb(255, 55, 0);
}

.color-a {
  color: #ecfdfe !important;
}

#home-anim {
  position: fixed;
  z-index: 1;
  height: 100vh;
}

#home {
  clip-path: url(#cache);
}

#red {
  fill: none;
  opacity: 0.15;
  stroke: #CE1B5F;
  stroke-width: 12;
  stroke-miterlimit: 10;
  animation: show 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#blue {
  fill: none;
  opacity: 0.15;
  stroke: #06A1C4;
  stroke-width: 12;
  stroke-miterlimit: 10;
  animation: show 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#light-blue {
  fill: none;
  opacity: 0.15;
  stroke: #06A1C4;
  stroke-width: 6;
  stroke-miterlimit: 10;
  stroke-dasharray: 200;
  stroke-dashoffset: 800;
  animation: draw 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes show {
  0% {
    opacity: 0.15;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.15;
  }
}
/* pagina Nosotros */
/* Implementacion de Grid */
.caja-introduccion__introduccion {
  padding: 3rem;
  padding-top: 5rem;
  align-items: center;
  align-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  font-size: 35px;
}

.caja-introduccion__parrafo {
  background-color: #ceedf8;
  font-weight: 500;
  color: #212f45;
  padding: 1.5rem;
  border-radius: 10px;
}

.caja-introduccion__imagen {
  overflow: hidden;
  padding: 10px;
  object-fit: cover;
}

.caja-introduccion__introduccion img {
  justify-self: center;
  width: 100%;
}

.contenido__descripcion-mision-vision {
  display: flex;
}

.caja-descripcion {
  display: flex;
  flex-direction: column;
}

.contacto {
  display: flex;
  justify-content: end;
  background: url("../assets/contacto.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  height: 100vh;
}
.contacto .form {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  width: 35vw;
  gap: 1.5rem;
  padding: 1rem 3rem;
  margin-top: 3rem;
}
.contacto .form label {
  font-weight: bold;
  color: #212f45;
}
.contacto .form input,
.contacto .form textarea,
.contacto .form button {
  width: 100%;
  border-radius: 2px;
  height: 36px;
  border: 1.5px solid #dc9d00;
  font-size: 14px;
  padding: 5px;
}
.contacto .form textarea {
  height: 10%;
}
.contacto .form button {
  width: 100%;
  border-radius: 2px;
  height: 36px;
  border: 1.5px solid #dc9d00;
  font-size: 14px;
  padding: 5px;
  background-color: rgb(255, 55, 0);
  color: #fff;
  font-weight: 600;
  font-size: 0.8rem;
}
.contacto .form button:hover {
  cursor: pointer;
}

.nav-contacto {
  background-color: white;
}
.nav-contacto .nav-list-contacto li a {
  color: #212f45;
}
.nav-contacto img.logo-contacto {
  height: 60px;
  width: 60px;
  background-color: rgb(255, 55, 0);
  border-radius: 10px;
  transition: all 1s ease-in-out;
}

.cajaIntroduccion {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-image: url("../assets/background-index.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  transition: 100ms;
  opacity: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
}

.cajaIntroduccion:hover {
  filter: none;
  transition: 800ms;
}

.cajaIntroduccion p {
  font-size: 60px;
  background-color: rgba(100, 19, 138, 0.6306897759);
  color: white;
  transition: 2s;
  width: 100%;
  padding: 20px;
}

.introduccion {
  width: 100%;
  text-align: center;
}

/*---AGREGAR ESTILO*/
/*Inicio del contenido*/
.section1,
.section2,
.section3,
.section4 {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.breveDescripcion,
.explicacion,
.tituloBeneficios {
  font-size: 35px;
  padding: 5rem 3rem;
  background-blend-mode: color;
  text-align: center;
}

.cajadeTextoImagen {
  display: flex;
  justify-content: space-around;
  width: 90vw;
}

.cajadeTextoImagen-dos {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 50px;
}

.cajadeTexto {
  padding: 3rem;
  width: 55vw;
  font-size: 20px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 10rem;
}

.cajadeTexto-secundaria {
  width: 60%;
  padding: 50px;
}

.listaCajadeTexto li {
  padding: 0.2rem;
}

.imagenCajaTexto1 {
  width: 22vw;
  border-radius: 15% 50% 18% 50%;
  box-shadow: 5px 5px 10px #888888;
  transition: 1000ms;
  margin-left: 2rem;
}

.btn-registro {
  text-align: center;
  font-size: 35px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.btn-registro a {
  text-decoration: none;
  font-weight: bold;
  color: #f5f5f5;
  background: transparent;
  padding: 1rem;
  border-radius: 20px;
  border: 1px solid #f5f5f5;
}

.btn-registro a:hover {
  font-size: 37px;
  transition: 600ms;
  color: white;
}

.imagenCajaTexto2 {
  width: 23vw;
  border-radius: 40% 15% 40% 18%;
  box-shadow: 5px 5px 10px #888888;
  transition: 1000ms;
  margin-left: 2rem;
  object-fit: cover;
}

.explicacion {
  text-align: center;
  transition: 700ms;
}

.section2 h3 {
  width: auto;
  height: auto;
  text-align: center;
  margin-top: 1rem;
  font-size: 30px;
  margin-bottom: 2rem;
  transition: 2s;
}

.skillsMentorya {
  background: linear-gradient(0deg, rgba(82, 82, 82, 0.2049194678) 100%, rgba(94, 94, 94, 0.6334908964) 100%);
  box-shadow: 5px 5px 10px #888888;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  transition: 1s;
  width: 23vw;
}

.skillsMentorya:hover {
  background: linear-gradient(0deg, rgba(111, 90, 120, 0.925) 35%, rgb(62, 31, 71) 100%);
  box-shadow: 5px 5px 10px #f5f5f5;
  transition: 80ms;
  font-size: 20px;
  width: 25vw;
}

.section2 img {
  width: 150px;
  margin-bottom: 2rem;
}

.section2 a {
  color: white;
  text-decoration: none;
  background-color: #3e1f47;
}

.section2 a:hover {
  background-color: #ecfdfe;
  color: black;
  font-size: 17px;
}

.beneficios {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.contenedorImagenesBeneficios {
  display: flex;
}

.cajaImagenesBeneficios {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(0deg, rgba(111, 90, 120, 0.925) 20%, rgb(62, 31, 71) 80%);
  border-radius: 15px;
  margin: 1rem;
  margin-bottom: 3rem;
  filter: blur(0.5px);
  width: 200px;
  height: 200px;
}

.tituloImagenesBeneficios {
  padding-top: 2rem;
  font-size: 25px;
  text-align: center;
}

.imagenBeneficios {
  width: 5vw;
  transition: 1s;
}

.imagenBeneficios:hover {
  width: 6vw;
}

main .main-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
main .main-login .formulario-login {
  background: #fff;
  padding: 20px 0;
  box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  width: 350px;
  height: 400px;
}
main .main-login .formulario-login .login {
  width: 100%;
  margin: auto;
}
main .main-login .formulario-login .login .titulo-login {
  text-align: center;
  font-weight: 700;
  font-size: 25px;
  color: black;
}
main .main-login .formulario-login .login .grupo-input {
  position: relative;
  margin: 30px 30px;
}
main .main-login .formulario-login .login .grupo-input .input-texto {
  background: none;
  color: #c6c6c6;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  height: 30px;
  border: none;
  border-bottom: 1px solid black;
}
main .main-login .formulario-login .login .grupo-input .input-texto:focus {
  outline: none;
  color: #5e5d5d;
}
main .main-login .formulario-login .login .grupo-input .input-texto:valid ~ label {
  top: -14px;
  font-size: 14px;
  color: #2196f3;
}
main .main-login .formulario-login .login .grupo-input .input-texto:valid ~ .barra-input::before {
  width: 100%;
}
main .main-login .formulario-login .login .grupo-input .label-login {
  color: black;
  font-size: 16px;
  position: absolute;
  left: 5px;
  top: 10px;
  transition: 0.5s ease-in-out all;
  pointer-events: none;
}
main .main-login .formulario-login .login .grupo-input .barra-input {
  position: relative;
  display: block;
  width: 100%;
  height: 1px;
  background: #969696;
}
main .main-login .formulario-login .login .grupo-input .barra-input::before {
  content: "";
  height: 2px;
  width: 0%;
  bottom: 0;
  position: absolute;
  background: linear-gradient(to right, #B06AB3, #4568DC);
  transition: 0.3s ease width;
  left: 0;
}
main .main-login .formulario-login .login .boton-registro {
  background: #4568DC;
  background: linear-gradient(to right, #B06AB3, #4568DC);
  border: none;
  display: block;
  width: 80%;
  margin: 10px auto;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 25px;
  font-weight: bold;
}
main .main-login .formulario-login .login .grupo-registro {
  margin-top: 2rem;
  padding-left: 1rem;
  color: black;
}

.contenido {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  padding-top: 3rem;
}
.contenido .contenido__filtro {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  width: 400px;
  height: 80vh;
  border-radius: 10px;
  line-height: 25px;
  animation: slide-filt-top 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  position: relative;
  z-index: 10;
}
.contenido .contenido__filtro .filtro__main {
  color: var(--main-cont-color);
  font-size: 27px;
  line-height: 40px;
  animation: slide-top 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  padding-bottom: 1rem;
}
.contenido .contenido__filtro .filtro__main p {
  font-size: 15px;
  line-height: 20px;
  margin-top: 15px;
}
.contenido .contenido__filtro .filtro__main h1 {
  color: orangered;
}
.contenido .contenido__filtro .filtro__contenedor {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 16rem;
  height: 20rem;
  border-radius: 10px;
  background-color: #ecfdfe;
}
.contenido .contenido__filtro .filtro__contenedor h1 {
  font-weight: bold;
  font-family: "Overpass", sans-serif;
  color: #3e1f47;
}
.contenido .contenido__filtro .filtro__contenedor .Contenedor__input {
  display: flex;
  flex-direction: column;
}
.contenido .contenido__filtro .filtro__contenedor .Contenedor__input label {
  color: rgb(33, 47, 69);
}
.contenido .contenido__filtro .filtro__contenedor .Contenedor__input-check {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  color: #4a4747;
  gap: 10px;
}
.contenido .contenido__filtro .filtro__contenedor .Contenedor__input-check:hover {
  color: black;
}
.contenido .contenido__filtro .filtro__contenedor .input_filtro {
  width: 220px;
  height: 35px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #928e8e;
  color: #928e8e;
}
.contenido .contenido__filtro .filtro__contenedor .input_filtro:focus {
  outline: none;
}
.contenido .container {
  background: linear-gradient(0deg, rgba(82, 82, 82, 0.2049194678) 100%, rgba(94, 94, 94, 0.6334908964) 100%);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  width: 44vw;
  height: 80vh;
  padding: 2rem;
  overflow-x: hidden;
}
.contenido .container::-webkit-scrollbar {
  display: none;
}
.contenido .container .contenedor_producto {
  background-color: #ecfdfe;
  box-shadow: 10px 10px 10px -4px rgba(22, 22, 22, 0.75);
  width: 11rem;
  height: 12rem;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--main-bg-color);
  z-index: 10;
  position: relative;
  cursor: pointer;
}
.contenido .container .contenedor_producto .contenedor_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.contenido .container .contenedor_producto .contenedor_info a {
  text-decoration: none;
  color: rgb(33, 47, 69);
  font-size: 16px;
}
.contenido .container .contenedor_producto .contenedor_info p {
  margin-top: 10px;
  font-size: 11px;
  text-align: center;
}
.contenido .container .contenedor_producto .contenedor_info .contenedor_img {
  padding-top: 10px;
}
.contenido .container .contenedor_producto .contenedor_info .contenedor_img .pepe {
  width: 70px;
  border-radius: 100%;
  padding: 3px;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.contenido .container .contenedor_producto .contenedor_info .nombre {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 14px;
  padding-top: 5px;
  line-height: 8px;
}
.contenido .container .contenedor_producto .contenedor_info .email {
  font-weight: 600;
  font-size: 9px;
}
.contenido .container .contenedor_producto .contenedor_info .pais {
  color: #928e8e;
  font-weight: 600;
  font-size: 10px;
}

@media (max-width: 762px) {
  .abrir_menu,
  .cerrar_menu {
    display: block;
    border: 0;
    font-size: 2rem;
    background-color: transparent;
    cursor: pointer;
    color: white;
  }
  .cerrar_menu {
    width: 30px;
    height: 30px;
    margin-top: 1rem;
  }
  .cerrar_menu i {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 100;
    background-color: rgb(100, 19, 138);
    box-shadow: 0 0 0 100vmax rgba(236, 236, 236, 0.226);
    height: 100vh;
    width: 130px;
    transition: all 0.5s;
  }
  .nav.visible {
    opacity: 1;
    visibility: visible;
  }
  .nav_list {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  .nav_list li a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 13px;
  }
  .caja-introduccion__introduccion {
    font-size: 20px;
    width: 350px;
  }
  .caja-introduccion__parrafo {
    padding: 1rem;
  }
  .caja-introduccion__imagen {
    width: 250px;
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background-color: #dbbce4;
    padding: 20px;
    height: 500px;
    text-align: center;
  }
  .icon-footer {
    height: 50px;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
  }
  .logo-footer {
    margin-left: 0px;
  }
  .contenedor__equipo {
    border: 1px solid white;
    border-radius: 10px;
    margin: 1rem;
  }
  .caja-introduccion__introduccion {
    padding: 5rem 2rem 1rem 2rem;
  }
  .contenedorImagenesBeneficios {
    flex-wrap: wrap;
    justify-content: center;
  }
  .cajaImagenesBeneficios {
    width: 100px;
    height: 100px;
    margin-bottom: 0;
    padding: 1rem;
  }
  .imagenBeneficios {
    width: 50px;
  }
  .tituloImagenesBeneficios {
    font-size: 15px;
    padding: 0;
  }
  .tituloBeneficios {
    font-size: 20px;
    padding: 1rem;
  }
  .section4 {
    margin-bottom: 2rem;
  }
  .cajadeTextoImagen-dos {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  .imagenCajaTexto2 {
    margin-left: 0;
  }
  .cajadeTextoImagen-dos img {
    width: 50%;
  }
  .cajadeTexto-secundaria {
    width: 100%;
    padding: 1rem;
    font-size: 16px;
    padding-top: 3rem;
  }
  .btn-registro {
    font-size: 18px;
  }
  .breveDescripcion {
    font-size: 20px;
    padding: 2rem;
  }
  .section2 {
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
  }
  .skillsMentorya {
    width: 90%;
    background-color: #ecfdfe;
    color: #212f45;
    box-shadow: none;
    text-align: center;
  }
  .skillsMentorya h3 {
    font-size: 18px;
  }
  .skillsMentorya img {
    width: 90px;
  }
  .section-article__two {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .explicacion {
    font-size: 20px;
    padding: 2rem;
  }
  .cajadeTextoImagen {
    width: 100vw;
    flex-direction: column;
    align-items: center;
  }
  .cajadeTexto {
    width: 100%;
    font-size: 16px;
    padding: 2rem;
    margin-bottom: 2rem;
  }
  .imagenCajaTexto1 {
    width: 50%;
    padding: 0;
    margin: 0;
  }
  .section-one-figure {
    display: flex;
    justify-content: center;
  }
  .cajaIntroduccion {
    height: 350px;
    padding-top: 5rem;
  }
  .breveDescripcion {
    font-size: 20px;
  }
  .cajaIntroduccion p {
    font-size: 25px;
  }
  .section1 {
    margin-top: 0;
  }
  .abrir-menu-contacto {
    color: black;
  }
  .contacto {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    height: 90vh;
    background-position: bottom;
  }
  #contactForm {
    width: 100vw;
  }
  .formulario {
    width: 300px;
    height: 400px;
  }
  .contenido {
    height: 140vh;
    flex-direction: column;
  }
  .contenido .contenido__filtro {
    width: 100%;
    height: 60vh;
  }
  .contenido .contenido__filtro .filtro__main {
    font-size: 18px;
    line-height: 25px;
  }
  .contenido .contenido__filtro .filtro__main p {
    font-size: 14px;
  }
  .contenido .container {
    gap: 10px;
    width: 90vw;
    height: 50vh;
  }
  .contenido .container .contenedor_producto {
    width: 7rem;
    height: 10rem;
  }
  .contenido .container .contenedor_producto .contenedor_info {
    gap: 5px;
  }
}
@media (max-width: 380px) {
  .formulario-login {
    width: 200px;
    height: 300px;
  }
  .contacto {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    height: 90vh;
    background-position: bottom;
  }
}

/*# sourceMappingURL=style.css.map */
