$--main-bg-color: #3e1f47;
$--main-cont-color: #ecfdfe;
$--main-bgd-color: #212f45;
$--main-bg-deg-color: rgb(33, 47, 69);
$--contrast-color: rgb(255, 55, 0);

$transition-short: 100ms;
$transition-long: 1000ms;
$transition-extra-long: 2s;
$box-shadow: 5px 5px 10px #888888;
