@mixin button-nav {
  width: 100%;
  border-radius: 2px;
  height: 36px;
  border: 1.5px solid #dc9d00;
  font-size: 14px;
  padding: 5px;

  &:hover {
    cursor: pointer;
  }
}

.contacto {
  display: flex;
  justify-content: end;
  
  .form {
    background: #ffff;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    width: 35vw;
    gap: 1.5rem;
    padding: 1rem 3rem;
    margin-top: 3rem;

    label {
      font-weight: bold;
      color: $--main-bgd-color;
    }

    input,
    textarea,
    button {
      width: 100%;
      border-radius: 2px;
      height: 36px;
      border: 1.5px solid #dc9d00;
      font-size: 14px;
      padding: 5px;
    }

    textarea {
      height: 10%;
    }

    button {
      @include button-nav;
      background-color: $--contrast-color;
      color: #fff;
      font-weight: 600;
      font-size: .8rem;
    }
  }

  background: url("../assets/contacto.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  height: 100vh;
}

.nav-contacto {
  background-color: #ffff;

  .nav-list-contacto {
    li {
      a {
        color: $--main-bgd-color;
      }
    }
  }

  img.logo-contacto {
    height: 60px;
    width: 60px;
    background-color: $--contrast-color;
    border-radius: 10px;
    transition: all 1s ease-in-out;
  }
}
